<h1 align= "center">Create New Listing</h1>
<center>
  <%= form_tag '/admin/listings', method: :post do |f| %>

    <%= label_tag :address %>
    <%= text_field_tag :address %>

    <%= label_tag :city %>
    <%= text_field_tag :city %>

    <%= label_tag :state %>
    <%= text_field_tag :state %>

    <%= label_tag :zip %>
    <%= text_field_tag :zip %>

    <%= label_tag :description %>
    <%= text_field_tag :description %>

    <%= label_tag :image %>
    <%= text_field_tag :image %>

    <%= submit_tag 'Create New Listing' %>
  <% end %>
</center>
