<h1>Dashboard</h1>

  <h2>Listings</h2>
    <p><%=link_to "New Listing", "/admin/listings/new"%></p>
    <% @listings.each do |listing|%>
      <p><%="#{listing.address} #{listing.city} #{listing.state} #{listing.zip}"%> <%=link_to "Edit Listing", "/admin/listings/#{listing.id}/edit"%></p>
    <% end %>

  <h2> Testimonials </h2>
    <p><%=link_to "New Testimonial", "/admin/testimonials/new"%></p>
      <% @testimonials.each do |testimonial|%>
    <p>Description<%="#{testimonial.description}"%> <%=link_to "Edit Listing", "/admin/testimonials/#{testimonial.id}/edit"%></p>
    <p>Author<%="#{testimonial.author}"%></p>
    <% end %>

<%= link_to "Logout", "/logout" if current_user %>
