<!DOCTYPE html>
<html>
  <head>
    <title>FairfaxRealty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= link_to "Testimonials", "/testimonials" %>
    <%= link_to "Listings", "/listings" %>
    <%= link_to "Book A Free Consultation", "/bookings" %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
  <%= link_to "Michael Alex Lynch", "https://github.com/mlynch5187" %> 2021
  </footer>
</html>
