<!DOCTYPE html>
<html>
  <head>
    <title>FairfaxRealty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="/">Lucie Lynch Realty</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="far fa-address-book"></i>About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/consultations"><i class="far fa-calendar-alt"></i>Book A Free Consultation</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/listings"><i class="far fa-clone"></i>Listings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/testimonials"><i class="fas fa-tachometer-alt"></i>Testimonials</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>
                </li> -->
            </ul>
        </div>
    </nav>

    <% flash.each do |type, message| %>
      <p><%= message %></p>
    <% end %>
    <%= yield %>
  </body>
  <div class="footer fixed-bottom">
  <footer>
    <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>
    <div class="row text-center">
      <div class="col-md-4 box">
        <a class="copyright quick-links" href="https://github.com/mlynch5187">Copyright &copy; Michael Alex Lynch <script>document.write(new Date().getFullYear())</script>
        </a>
      </div>
      <div class="col-md-4 box">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/metrohomeseller?lang=en">
            <span class="iconify" data-icon="logos:twitter" data-inline="false"></span>
          </a>
          </li>
          <!-- <li class="list-inline-item">
            <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          </li> -->
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/lucie-lynch-b730b018">
            <span class="iconify" data-icon="logos:linkedin-icon" data-inline="false"></span>
          </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 box">
        <ul class="list-inline quick-links">
          <li class="list-inline-item">
            <a href="mailto:lucielynchhomes@gmail.com">lucielynchhomes@gmail.com</a>
          </li>
          <li class="list-inline-item">
            <a>410-707-1409</a>
          </li>
        </ul>
      </div>
      </div>
    </footer>
  </div>
</html>
